html body{
	@ART_PIECE-WIDTH:192px;
	@ART_PIECE-HEIGHT:192px;
	
	@DEFAULT_ANIMATION_TIME:"300ms";


	@ART_PIECE-TOOL_CONTAINER-WIDTH:100%;
	@ART_PIECE-TOOL_CONTAINER-HEIGHT:30px;
	@ART_PIECE-TOOL_CONTAINER-PADDING_LEFT:10px;
	@ART_PIECE-TOOL_CONTAINER-PADDING_RIGHT:@ART_PIECE-TOOL_CONTAINER-PADDING_LEFT;
	@ART_PIECE-TOOL_CONTAINER-BUTTON-WIDTH:16px;
	@ART_PIECE-TOOL_CONTAINER-BUTTON-HEIGHT:16px;

	.art-piece{
		.size(@ART_PIECE-WIDTH, @ART_PIECE-HEIGHT);
		.content-size-only();
		
		display:inline;

		.art-container{
			&:hover .tool-container{
				opacity: 1;
			}

			.tool-container{
				.size(
					@ART_PIECE-TOOL_CONTAINER-WIDTH,
					@ART_PIECE-TOOL_CONTAINER-HEIGHT
				);
				.transition("opacity @{DEFAULT_ANIMATION_TIME}");

				opacity: 0;
				position:absolute;
				background-color: #AAAAAA;
				cursor:pointer;
				left:0px;
				top:@ART_PIECE-HEIGHT - @ART_PIECE-TOOL_CONTAINER-HEIGHT;

				[class*="-button"]{
					.size(@ART_PIECE-TOOL_CONTAINER-BUTTON-WIDTH, @ART_PIECE-TOOL_CONTAINER-BUTTON-HEIGHT);
					.center-vertical(@ART_PIECE-TOOL_CONTAINER-BUTTON-HEIGHT);
					.transition("opacity @{DEFAULT_ANIMATION_TIME}");

					display:block;
					position:absolute;


					&[data-enabled="false"]{
						opacity: .5;
					}

					&[data-enabled="true"]{
						opacity: 1;
					}
				}

				.favorite-button{
					display:block;
					left:@ART_PIECE-TOOL_CONTAINER-PADDING_LEFT;
					background-color: #FFFF00;
				}

				.promote-button{
					display:block;
					left:@ART_PIECE-WIDTH / 2 - (@ART_PIECE-TOOL_CONTAINER-HEIGHT / 2);
					background-color: #FF0000;
				}
				.fullscreen-button{
					display:block;
					right:@ART_PIECE-TOOL_CONTAINER-PADDING_RIGHT;
					background-color: #111111;
				}
			}

		}
	}
}